#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
  gap: 10px;
  & li {
    list-style: none;
    border: 1px solid black;
  }


}
