.content {
  display: flex;
  flex-direction: row;
  color: #222222;
}

h1 {
  justify-self: end;
  margin-right: 25%;
}

.info {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
}
.description {
  font-size: 1rem;
}
#color {
  font-size: 1.5rem;
}

#mileage {
  font-size: 1.5rem;
  background-color: #c2c2c2;
  padding: 5px;
}

#price {
  color: rgb(0, 79, 0);
}

.mileage-pric {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & #price {
    margin-right: 50px;
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
  .content {
    display: flex;
    flex-direction: column;
    color: #222222;
  }
  h1 {
    justify-self: center;
  }
}
