.loginForm {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-self: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(154, 154, 154);
  padding: 20px;
  justify-items: center;
  & input,
  select,
  textarea {
    display: block;
    justify-self: center;
    width: 90%;
    height: 45px;
    border-radius: 5px;
  }

  & input:required:invalid,
  input:focus:invalid {
    border-right: 10px solid red;
  }

  & input:required:valid,
  input:focus:valid {
    border-right: 10px solid #afff36;
  }

  & label {
    font-size: 1.3rem;
  }

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
    & button {
      margin-top: 5px;
      height: 45px;
      width: 20%;
      border-radius: 15px;
    }

    & p {
      font-size: 1.2rem;

      & a {
        color: black;
      }
    }
  }
}

@media (max-width: 700px) {
  .loginForm {
    width: 80%;
  }
}
