<%- title %>
<h1><%- title %></h1>
<%- messages() %>

<a href="/inv/add-classification" class="managementText">Add a classification</a>
<a href="/inv/add-inventory" class="managementText">Add a new vehicle</a>
