<h1><%- title %></h1>
<p><%- message %></p>


<form action="">
    <label for="account_email">
        <input type="text" name="account_email" id="account_email">
    </label>
    <label for="account_password">
        <input type="text" name="account_password" id="account_password">
    </label>
    <button type="submit">Log in</button>
    <p>No account? <a href="#">Sign-up</a></p>
</form>